* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 13px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  /* margin: 0 auto; */
  margin-top: 15%;
}

li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}

@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-decoration: none;
  text-align: center;
  padding-top: 40%;
  font-size: 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  letter-spacing: -0.065em;
  font-family: "Hammersmith One", sans-serif;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 300px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
}

.round:hover {
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  font-size: 33px;
  padding-top: 38px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-size: 10px;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

a.red {
  background-color: #56a5a8;
  color: #276a73;
  border-color: #56a5a8;
}

a.red:hover {
  color: #276a73;
}

.round span.round {
  display: block;
  opacity: 0;
  padding-top: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 1px;
  border: none;
  padding: 40% 20% 0 20%;
  color: #fff;
}

.round span:hover {
  opacity: 0.85;
  font-size: 16px;
  padding-top: 50%;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.red span {
  background: #8399a1;
}

@media only screen and (max-width: 800px) {
  ul {
    margin-top: 30%;
  }
  li {
    width: 150px;
    height: 150px;
  }
  .round {
    padding-top: 38%;
  }
}

@media only screen and (max-width: 500px) {
  ul {
    margin-top: 55%;
  }
  li {
    width: 150px;
    height: 150px;
  }
  .round {
    padding-top: 38%;
  }
}
