.container {
  display: flex !important;
  flex-direction: column !important;
  width: 90%;
  margin: 0 auto;
}

.progressBar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#text {
  display: flex;
  align-self: flex-end;
}

.noth {
  display: none;
}
