.container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.progressBar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#text {
  display: flex;
  align-self: flex-end;
}
