.wrapper {
  display: flex !important;
  flex-direction: column !important;
  width: 90%;
  margin: 0 auto;
}
.progressBar {
  margin-top: 5px;
  margin-left: 10px;
}
.progressBarAndImg {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

#text {
  display: flex;
  align-self: flex-end;
}

.noth {
  display: none;
}

#helpPhrase {
  display: none;
  padding: 0;
  justify-content: center;
  margin-top: 35%;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media only screen and (max-width: 950px) {
  #helpPhrase {
    margin-top: 40%;
  }
}

@media only screen and (max-width: 900px) {
  #helpPhrase {
    margin-top: 50%;
  }
}
@media only screen and (max-width: 800px) {
  #helpPhrase {
    margin-top: 60%;
  }
}

@media only screen and (max-width: 650px) {
  #helpPhrase {
    margin-top: 70%;
  }
}

@media only screen and (max-width: 550px) {
  #helpPhrase {
    margin-top: 80%;
  }
}

@media only screen and (max-width: 480px) {
  #helpPhrase {
    margin-top: 90%;
  }
}

@media only screen and (max-width: 430px) {
  #helpPhrase {
    margin-top: 100%;
  }
}

@media only screen and (max-width: 420px) {
  #helpPhrase {
    margin-top: 400px;
  }
}

@media only screen and (max-width: 360px) {
  #helpPhrase {
    margin-top: 400px;
  }
}
